{% extends "layout/base.html" %}
{% block breadcrumb %}
    <li><a href="/">Home</a></li>
    <li>
        <span class="show-for-sr">Current: </span> Careers
    </li>
{% endblock %}
{% load i18n %}
{% block title %}Careers{% endblock %}
{% block description %}Careers{% endblock %}
{% block content_header %}Careers{% endblock %}
{% block content %}
    <div class="neat-article-container">
        <div class="row neat-article-content">
            <div class="small-10 large-8 columns" id="sticky1">
                <div class="article-content">
                    <p>The word rhinoceros comes from two Greek words: rhino (nose) and ceros (horn). The word
                        rhinoceros comes
                        from two Greek words: rhino (nose) and ceros (horn). The word rhinoceros comes from two Greek
                        words: rhino
                        (nose) and ceros (horn).</p>
                    <p>The word rhinoceros comes from two Greek words: rhino (nose) and ceros (horn). The word
                        rhinoceros comes
                        from two Greek words: rhino (nose) and ceros (horn). The word rhinoceros comes from two Greek
                        words: rhino
                        (nose) and ceros (horn).</p>
                    <p>The word rhinoceros comes from two Greek words: rhino (nose) and ceros (horn). The word
                        rhinoceros comes
                        from two Greek words: rhino (nose) and ceros (horn). The word rhinoceros comes from two Greek
                        words: rhino
                        (nose) and ceros (horn).</p>
                    <p>The word rhinoceros comes from two Greek words: rhino (nose) and ceros (horn). The word
                        rhinoceros comes
                        from two Greek words: rhino (nose) and ceros (horn). The word rhinoceros comes from two Greek
                        words: rhino
                        (nose) and ceros (horn).</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}