{% extends "layout/base.html" %}{% load custom_tags %}
{% block breadcrumb %}
    <li><a href="/">Home</a></li>
    <li>
        <span class="show-for-sr">Current: </span> {{ object.title }}
    </li>
{% endblock %}
{% load i18n %}
{% block title %}{{ object.title }}{% endblock %}
{% block description %}{{ object.title }}{% endblock %}
{% block content_header %}{{ object.title }}{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="row neat-article-container">
            <div class="small-12 columns">
                <div class="neat-article-title">
                    <h1 class="article-title">
                        {{ object.name }} facts
                    </h1>
                </div>
            </div>
            <div class="small-12 large-8 columns">
                <div class="article-content">
                    <div class="fact-parent">
                        <div class="fact-child">
                            <div class="grid-x action-nav">
                                <div class="column active text-center">
                                    <a href="?filter=system">FactAz</a>
                                </div>
                                <div class="column text-center">
                                    <a href="?filter=member">Member</a>
                                </div>
                            </div>
                        </div>{% for fact in facts %}
                        <div class="fact-child">
                            <div class="callout">
                                <div class="fact-body">
                                    {{ fact.content }}
                                </div>
                                <div class="fact-footer text-right">
                                    <div class="text-center">
                                        <a href="/{{ object.slug }}/{{ forloop.counter }}">
                                            <i class="fa fa-comments"></i>
                                        </a>
                                        <a href="/{{ object.slug }}/{{ forloop.counter }}">
                                            <i class="fa fa-check-circle {% verify_check fact.confirm %}"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>{% endfor %}
                    </div>
                    <div class="fact-form">
                        <div class="input-group">
                            <input class="input-group-field" type="text">
                            <div class="input-group-button">
                                <button class="button">
                                    <i class="fa fa-bullhorn"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-12 large-4 columns sidebar">
                <div class="row widget">
                    <div class="column meta"><span>{{ facts.count }} facts</span></div>
                </div>
                <div class="widget">
                    <h4>{{ object.name }} information</h4>
                    <p>{{ object.description }}</p>
                    <img class="article-image" src="{% get_image_safe object.image "222x222" %}"
                         alt="{{ object.title }}">
                </div>
                <div class="widget">
                    <img src="//lh5.ggpht.com/CztHBMfmRKhSv-_up3GCkK5R5M0TCm1czCVkVBwB0urvaHUVCEh6YtpS7DY3mcZuwC2SzX9A3w=w338"
                         height="auto" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}